# Dependencias
node_modules/
backend/node_modules/

# Entornos y Secretos (CRÍTICO)
.env
backend/.env
frontend/.env
*.local
*.env.local

# Compilación y Salida
dist/
build/
.vite/
frontend/dist/
frontend/build/
frontend/.vite/

# Archivos subidos (Mantenemos la carpeta pero no los archivos)
backend/uploads/*
!backend/uploads/.gitkeep

# Logs y Errores
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db
.vscode/
.idea/
